{% extends 'base.html' %}

{% block title %}About{% endblock %}

{% block content %}

<div id="banner">
  <div class="banner_image banner_image_about"></div>
  <h1 class="text-center banner_text text-white user-select-none">About</h1>
</div>
<div class="container mt-5">
  <div class="text-center">
    <div class="mb-5">
      <h1>Hello</h1>
      <h5>Thank you for using my site</h5>
      <h5>This site was made by me for educational cause</h5>
    </div>
    <div>
      <h1>Links</h1>
      <a href="https://github.com/Sobikaa-droid" class="link-primary text-decoration-none">
        <h5>My GitHub page</h5>
      </a>
      <a href="https://github.com/Sobikaa-droid/django-restaurant" class="link-primary text-decoration-none">
        <h5>Website source code</h5>
      </a>
    </div>
  </div>
</div>

{% endblock %}
